<article class="message {% for cat in CATS_STYLE %}{% if article.category == cat %}{{ CATS_STYLE[cat] }}{% endif %}{% endfor %}">
	<div class="message-header is-info">
		<h2 class="is-size-5"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
		<h2><time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></h2>
	</div>
	<div class="message-body">
			{% if article.poster %}
				<figure class="image is-3by1">
					<a href="{{ SITEURL }}/{{ article.url }}"><img src="/static/image/{{ article.poster }}"></a>
				</figure>
			{% endif %}
			{% if article.summary %}<p class="has-text-dark">{{ article.summary }}</p>{% endif %}
		<p>{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}"><span class="tag is-info">{{ tag }}</span></a> {% endfor %}</p>
	</div>
</article>

