{% set last_news = articles|selectattr('category', 'eq', 'Dernière Nouvelle')|first %}
<article class="message is-info">
    <div class="message-header">
        <h2 class="is-size-5">{% trans %}Last News{% endtrans %}</h2>
        <h2><time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">{{ last_news.locale_date }}</time></h2>
    </div>
    <div class="message-body has-text-dark">
        <p class="is-size-4">{{ last_news.title }}</p>
        {{ last_news.content }}
    </div>
</article>