<section class="hero is-fullheight has-carousel">
    <div id="carousel-homepage" class="hero-carousel has-background-dark">
        <div class="item-0">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20090204-IMGP6717.jpg">
            </figure>
        </div>
        <div class="item-1">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20100217-TEMP3107.jpg">
            </figure>
        </div>
        <div class="item-2">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20100709-TEMP5594.jpg">
            </figure>
        </div>
        <div class="item-3">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20101120-TEMP7201.jpg">
            </figure>
        </div>
        <div class="item-4">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20110619-TEMP9372.jpg">
            </figure>
        </div>
        <div class="item-5">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20110809-TEMP9742.jpg">
            </figure>
        </div>
        <div class="item-6">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20111108-TEMP0033.jpg">
            </figure>
        </div>
        <div class="item-7">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20120608-TEMP2426.jpg">
            </figure>
        </div>
        <div class="item-8">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20120617-TEMP2568-Pano.jpg">
            </figure>
        </div>
        <div class="item-9">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20120628-TEMP2722-Pano.jpg">
            </figure>
        </div>
        <div class="item-10">
            <figure class="image is-3by2">
                <img src="/static/images/hero/20150215-AA9A9923.jpg">
            </figure>
        </div>
    </div>
    <div class="hero-head">
        <nav class="navbar has-text-weight-medium">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-item">
                        <img class="image" style="height:32px" src="{{ THEME_LOGO }}">
                        <span class="title is-3 is-family-secondary has-text-white-ter">Tout En Marchant</span>
                    </span>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="/basic-page/à-propos.html">
                            <span class="icon">
                                <i class="fas fa-info"></i>
                            </span>
                            <span>Le Projet</span>
                        </a>
                        <a class="navbar-item" href="https://www.flickr.com/photos/118949713@N04/">
                            <span class="icon">
                                <i class="fas fa-images"></i>
                            </span>
                            <span>Photos</span>
                        </a>
                        <a class="navbar-item" href="/category/podcast.html">
                            <span class="icon">
                                <i class="fas fa-microphone-alt"></i>
                            </span>
                            <span>Podcasts</span>
                        </a>
                        <a class="navbar-item" href="/category/info-astuce.html">
                            <span class="icon">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <span>Articles</span>
                        </a>
                        <span class="navbar-item" href="#map">
                            <a class="button is-info is-inverted">
                                <span class="icon">
                                    <i class="fas fa-map-marked-alt"></i>
                                </span>
                                <span>La carte</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            <p class="title">
                Fullheight hero with navbar
            </p>
        </div>
    </div>
    <div class="hero-foot"></div>
</section>

<script type="text/javascript" src="/theme/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-homepage', {
        slidesToScroll: 1,
        slidesToShow: 1,
        loop: true,
        pauseOnHover: false,
    });

</script>