{% extends "base.html" %}

{% block content %}
	<div class="container">
		<h1 class="title">{% trans %}Last entries{% endtrans %}</h1>
			<div class="columns is-multiline">
				{% for article in dates[:15] %}
					{% if article.category == "Info & Astuce" or article.category == "Podcast" or article.category == "Équipement" %}
					<div class="column {{ loop.cycle('is-half', '') }}">
						{% include "includes/article_extract.html" %}
					</div>
					{% endif %}
				{% endfor %}
			</div>
		<h1 class="title">{% trans %}The track we've drawn on the world{% endtrans %}</h1>
		<div id="map"></div>
			<script>

			function initMap() {
				var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 11,
				center: {lat: 41.876, lng: -87.624}
				});

				var ctaLayer = new google.maps.KmlLayer({
				url: 'http://www.toutenmarchant.com/static/ressources/homepage_track.kml',
				map: map
				});
			}
			</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADmhHKGwCtPjU9sBApQHrgEfRTGFXnqSQ&callback=initMap">
			</script>
		</div>
{% endblock content %}
